:root {
    --mainColor: #964315;
    --secondaryColor: #6A2B05;
    --borderColor: #3E1404;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeDotBorder: #FFF;
    --previewBg: #BB6B24;
    --previewShadow: #3E1404;
    --buttonColor: #BB6B24;
}